*
{
    margin: 0px;
    padding: 0px;
   text-decoration: none;
}
.header
{
    height: 45px;
    width: 100%;
    background-color: blue;
    color: white;
    position: static
}
ul,li,h1,nav{
    display: inline;
}
ul{
    margin-left: 50%;
}
h1{
    margin-left: 20PX;
    padding:20px;
}
a{
    color: white;
}
a:hover{
color:black;
}
.search
{
   
   margin-top: 50px;
}
input{
    width:50%;
    height: 30px;
    text-align: center;
    display: inline;
    margin-left: 260px;
    background-color:lightyellow;
}
h2{
    color: blue;
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: lightpink;
}
img{
    margin-top: 40px;
}
.img1:hover{
width: 500px;
cursor: pointer;
}
.color{
    background-color: blueviolet;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    justify-content: space-around;
}
.img
{
    display: inline-block;
    width: 200px;

}

